.video-container {
    position: relative;
    padding-bottom: 56.25%; /* ratio 16/9 */
    height: 0;
    overflow: hidden;
    clear: both;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.image_accueil {
  margin: 0;
  flex: 0 0 50%;
}

body{
  background-color:#ece9f5;
}

.photo-bureau{
max-width: 100%;
margin-top: 30px;
}

.video {
padding-left: 5px;
  }

.centre {
  justify-content:center;
}

.grille {
  font-size: 0;
  width: 80%;
  margin: auto;
  margin-top: 12%;
}


.bloctexte{
  left: 71%;
  position: fixed;
  max-width: 20%;
}

.texteprojet{
  font-family: 'Cormorant Infant', serif;
  font-size: smaller;
  font-style: italic;
  color: #bcaed2;
}

.texteprojet2{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  line-height: 14pt;
  color: #bcaed2;
}

.textecontact{
  margin-left: 10%;
  margin-top: 7%;
  font-family: 'Cormorant Infant', serif;
  font-size: 12pt;
  max-width: 60%;
  color: #bcaed2;
  position: absolute;
  width: 25%;
  font-weight: normal;
}

.textecontact2{
  margin-left: 40%;
  margin-top: 10%;
  font-family: 'Cormorant Infant', serif;
  font-size: 12pt;
  max-width: 60%;
  color: #bcaed2;
  display: inline-table;
  width: 25%;
  font-weight: normal;
}

.textecontact3{
  margin-left: 10%;
  margin-top: 10%;
  font-family: 'Cormorant Infant', serif;
  font-size: 18pt;
  max-width: 60%;
  color: #bcaed2;
  position: absolute;
  width: 25%;
  font-weight: normal;
}

.textemail {
  color: #bcaed2;
  text-decoration: underline;
}
/*grille*/
.ligne {
  display:flex;
  width: 100%;
  margin-bottom: 16px;
}

.quart, .demi, .troisquart, .plein {
  margin: 0 8px;
}

.quart {
  flex: 0 0 calc(25% - 16px);
}

.demi {
  flex: 0 0 calc(50% - 16px);
}

.troisquart {
  flex: 0 0 calc(75% - 16px);
}

.plein {
  flex: 0 0 calc(100% - 16px);
}

.decale-1, .decale-2, .decale-3 {

}

.decale-1 {
  margin-left: calc(25% + 8px);
}

.decale-2 {
  margin-left: calc(50% + 8px);
}

.decale-3 {
  margin-left: calc(75% + 8px);
}

/*position des titres dans les coins*/
.gauchehaut,
.droitehaut,
.gauchebas,
.droitebas {
  position: fixed;
  margin: 0;
  font-family:'Cormorant Infant', serif;
  color: white;
  font-weight: normal;
  font-size: xx-large ;
}

a:hover{
  font-style: italic;
}

.gauchehaut {
  top: 30px;
  left:30px;
}

.droitehaut {
  right:30px;
  top: 30px;
}

.gauchebas {
  left:30px;
  bottom:30px;
}

.droitebas {
  right: 30px;
  bottom:30px;
}

.alignementbas{
   display: flex;
   align-items:flex-end;
}

.diplomes{
  font-family: serif;
  color: white;
}

a {
  color:white;
  text-decoration: none;
  cursor: crosshair;
}

img {
  max-width: 100%;
  height:auto;
}

@media screen and (max-width: 500px) {
.grille {
  margin-top: 100px;
  width: 85%;
	}
.gauchehaut {
  width: 35%;
	}

  .gauchehaut,
  .droitehaut,
  .gauchebas,
  .droitebas {
    font-size: large ;
  }

  .textecontact{
    margin-left: 10%;
    margin-top: 50%;
    font-family: 'Cormorant Infant', serif;
    font-size: 10pt;
    max-width: 100%;
    color: #bcaed2;
    position: relative;
    width: 100%;
    font-weight: normal;
  }

  .textecontact2{
    margin-left: 10%;
    font-family: 'Cormorant Infant', serif;
    font-size: 10pt;
    max-width: 60%;
    color: #bcaed2;
    width: 100%;
    font-weight: normal;
  }

  .textecontact3{
    margin-left: 10%;
    margin-top: 50%;
    font-family: 'Cormorant Infant', serif;
    font-size: 16pt;
    max-width: 60%;
    color: #bcaed2;
    position: absolute;
    width: 25%;
    font-weight: normal;
  }

  .photo-bureau{
  max-width: 50%;
  margin-top: 10px;
  margin-left: 95%;
  }

  h2 {
    font-size: 16px;
  }

  .ligne {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  .ligne figure {
    margin-top: 4px;
  }

  .gauchehaut {
    top: 30px;
    left:20px;
  }

  .droitehaut {
    right:20px;
    top: 30px;
  }

  .gauchebas {
    left:20px;
    bottom:30px;
  }

  .droitebas {
    right: 20px;
    bottom:30px;
  }

  .decale-1, .decale-2, .decale-3 {
    margin-left: 0;
  }

  .sm-demi, .sm-plein {
    margin: 0 4px;
  }

  .sm-demi {
    flex: 0 0 calc(50% - 8px);

  }

  .sm-plein {
    flex: 0 0 calc(100% - 8px);
  }

  .sm-decale-2 {
    margin-left: calc(50% + 4px);
  }

  .bloctexte{
    left: calc(50% + 8px);
    position: fixed;
    max-width: 40%;
  }

  .texteprojet{
    font-size: 10pt;
  }

  .texteprojet2{
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    line-height: 10pt;
  }

  .sm-textecontact{
    margin-left: 9%;
    margin-top: 100px;
    font-family: 'Cormorant Infant', serif;
    font-size: 8pt;
    max-width: 70%;
  }
